ghost/master/satori_savebackup.txt
ghost/master/satori_savedata.txt
ghost/master/satorite.exe
ghost/master/satorite.dat
ghost/master/ÇÍÇµÇŒ.exe
ghost/master/dtmp_yd.txt
ghost/master/TeaTime_ReadMe.txt
ghost/master/recv_net.exe
ghost/master/dic_tn.txt
ghost/master/dtemp_yd
ghost/master/kanade_core.txt
ghost/master/profile
shell/master/profile
updates.txt
updates2.dau
ghost/master/var
/ghost/master/„Çå„Åó„Å∞.exe
shell/mini_kanade
